html {
	background: url("https://i.ibb.co/QdYtLqG/starz.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;

	color: #FFFF82;
}

p {

}

.troops {
	animation: spin 14s;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
}

#countdown {
	color: aliceblue;
	text-align: center;
	font-size: 5em;
	margin-top: 35%;
}

#information {
	text-align: center;
	ont-family: Rockwell Extra Bold,Rockwell Bold,monospace;
	font-size: 0.9em;
	line-height: 120%;

	position:absolute;
	bottom:20%;
	width:100%;
	height:60px;
}

#data {
	color: ghostwhite;
}

#board {
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	transform: perspective(280px) rotateX(10deg);
	transform-origin: 50% 100%;
	text-align: center;
	position: absolute;
	margin-left: -6em;
	font-weight: bold;
	overflow: hidden;
	font-size: 200%;
	height: 50em;
	width: 12em;
	bottom: 0;
	left: 50%;
}

#board:after {
	position: absolute;
	content: ' ';
	bottom: 60%;
	left: 0;
	right: 0;
	top: 0;
}

#board:start {
	display: none;
}

#content {
	text-align: center;
	animation: scroll 20s linear 1s;
	position: absolute;
	top: 100%;
}


@keyframes scroll {
	0% {
		top: 100%;
	}
	100% {
		top: 0%;
	}
}

@keyframes buttonSlide {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}




